.banner{
	background-image:url(../../images/background.jpeg);
    color:white
    paddingï¼š150px 0px;
    background-size: cover;
    background-position: center;
}


.banner h1{
font-size:60px; 
 font-weight:lighter;
 opacity: 0.8;
 margin-bottom: 40px;

}